{{define "form-all"}}
{{template "header"}}
<main>
    <header>
        <h1>Forms</h1>
    </header>
    <section>
        <a href="/form/create">Create</a>
    </section>
    <section>
        <ul>
            {{ range $form := .}}
            <li class="hoverShow">
                <a href="/form/{{$form.ID}}">{{$form.Name}}</a>&nbsp;<a class="hoverEl"
                    href="/form/edit/{{$form.ID}}">✏</a>
            </li>
            {{end}}
        </ul>
    </section>
</main>

{{template "footer"}}
{{end}}

{{define "form"}}
{{template "header"}}
<main>
    <header>
        Name:&nbsp;{{.Name}} <br>
    </header>
</main>

{{template "footer"}}
{{end}}

{{define "form-create"}}
{{template "header"}}
<main>
    <header>
        Create Form
    </header>
    <form method="post" action="save">
        <table>
            <thead>
                <th>Data Type</th>
                <th>Field Name</th>
            </thead>
            <tbody>
                <tr style="display: none;">
                    <td id="err" colspan="2"></td>
                </tr>
                <tr id="actionRow">
                    <td style="text-align: center;" colspan="2">
                        <button id="btnAddField">Add
                            Field
                        </button>
                        <button type="submit" value="submit" id="btnSubmit">Save
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <script src="/static/form-create.js"></script>
</main>

{{template "footer"}}
{{end}}

{{define "form-create:save"}}
{{template "header"}}
<main>
    <header>
        Create Form : save
    </header>
    <section>
        {{.}}
    </section>
</main>

{{template "footer"}}
{{end}}