{{define "views"}}
{{template "header"}}
<main>
    <header>
        <h1>Views</h1>
    </header>
    <ul>
        {{ range $view := .}}
        <li>
            <a href="/view/{{$view.ID}}">
                {{$view.Name}}
            </a>
        </li>
    </ul>
    {{end}}
</main>

{{template "footer"}}

{{end}}

{{define "view"}}
{{template "header"}}
<main>
    <header>
        Name:&nbsp;{{.V.Name}} <br>
        Query:<blockquote>{{.V.Query}}</blockquote>
    </header>
    <table>
        <thead>
            <tr>
                {{ range .Th }}
                <td>{{.}}</td>
                {{end}}
            </tr>
        </thead>
        <tbody>
            {{range .Td}}
            <tr>
                {{ range . }}
                <td>{{.}}</td>
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>
</main>

{{template "footer"}}

{{end}}